{% extends 'money/base.html' %}

{% block content %}

<div class="container">
  <h2 class="mb-5">About Personal Finance Manager</h2>

  <p>
    Money Management is a web application designed to help users keep track of their income and expenses, allowing them to make better financial decisions. By providing a simple and intuitive interface, users can record their income and expenses, categorize their transactions, and visualize their financial data through graphs and charts.
  </p>

  <h3 class="mt-5">Key Features</h3>
  <ul>
    <li>Add income with date and frequency</li>
    <li>Add expenses with date, category, subcategory, and frequency</li>
    <li>Display total income, total expenses, and savings in a summary view</li>
    <li>View income and expenses in detailed tables</li>
    <li>Visualize data with a line chart showing total income, total expenses, and savings</li>
    <li>Download financial data analysis as a PDF</li>
  </ul>

  <h3 class="mt-5">Why Use Personal Finance Manager?</h3>
  <p>
    Managing your finances can be a challenging and time-consuming task. Money Management aims to simplify this process by providing a user-friendly platform to record, analyze, and visualize your financial data. By using this application, you can gain valuable insights into your financial habits, allowing you to make more informed decisions and achieve your financial goals.
  </p>

  <h3 class="mt-5">Contact Us</h3>
  <p>
    If you have any questions or suggestions, please feel free to contact us at <a href="mailto:info@moneymanagement.com">info@Pfmanager.com</a>. We're always happy to hear from our users and continuously strive to improve our application to better serve your needs.
  </p>
</div>

{% endblock %}
