{% extends 'money/base.html' %}

{% block content %}

<div class="container">
  <h2 class="mb-5">Terms of Service</h2>

  <h3>Introduction</h3>
  <p>
    Welcome to Personal Finance Manager. These Terms of Service ("Terms") govern your access to and use of our website, mobile applications, and services (collectively, the "Services"). By accessing or using our Services, you agree to these Terms. If you do not agree with these Terms, please do not use our Services. Our app is designed to help you calculate and visualize your financial goals. The Services are free to use, and your personal information will not be shared with third parties.
  </p>

  <h3>Changes to Terms</h3>
  <p>
    We reserve the right to modify or revise these Terms at any time, at our sole discretion. Your continued use of the Services after any such changes constitutes your acceptance of the new Terms. Please review these Terms regularly to ensure you are aware of any changes.
  </p>

  <h3>Use of Services</h3>
  <p>
    You may use our Services only if you can form a binding contract with Personal Finance Manager and are not barred from using the Services under applicable law. You must not use our Services in any way that violates any applicable local, state, national, or international law.
  </p>

  <h3>Privacy and Data</h3>
  <p>
    By creating an account with Personal Finance Manager, you agree to our terms regarding the saving of your data and personal information. You grant us permission to save your data in our database. For more information, please review our Privacy Policy.
  </p>

  <h3>Termination</h3>
  <p>
    We reserve the right to terminate or suspend your access to our Services at any time, without prior notice or liability, for any reason.
  </p>

  <p>
    By using Personal Finance Manager, you agree to these Terms of Service. If you do not agree with any part of these Terms, please do not use our Services.
  </p>
</div>

{% endblock %}
